# This policy is used to update the Insights Operator ConfigMap (in the managed clusters) with the Insights Proxy URL
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: insights-proxy-url-updater
  namespace: insights-proxy
spec:
  remediationAction: enforce
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: insights-operator-configmap-properties
        spec:
          remediationAction: enforce
          severity: medium
          object-templates:
            - complianceType: MustHave
              objectDefinition:
                apiVersion: v1
                kind: ConfigMap
                metadata:
                  name: insights-config
                  namespace: openshift-insights
                data:
                  config.yaml: |
                    dataReporting:
                        interval: 0h1m0s
                        uploadEndpoint: https://console.redhat.com/api/ingress/v1/upload
                        storagePath: /var/lib/insights-operator
                        downloadEndpoint: https://console.redhat.com/api/insights-results-aggregator/v2/cluster/%s/reports
                        conditionalGathererEndpoint: https://console.redhat.com/api/gathering/gathering_rules
                        obfuscation: [workload_names networking]
                    sca:
                        disabled: false
                        endpoint: https://api.openshift.com/api/accounts_mgmt/v1/entitlement_certificates
                        interval: 0h1m0s
                    alerting:
                        disabled: false
                    clusterTransfer:
                        endpoint: https://api.openshift.com/api/accounts_mgmt/v1/cluster_transfers/
                        interval: 0h1m0s
                    proxy:
                        httpsProxy: 'http://{{hub
                          (with $svc := lookup "v1" "Service" "insights-proxy" "insights-proxy-service" hub) 
                          (with $ing := index $svc.status.loadBalancer.ingress 0) 
                          (if $ing.hostname $ing.hostname $ing.ip) 
                        hub}}:80'
